/* .wrapper_none {
    display: none; 
} */

/* .wrapper {
    display: block;
} */

.wrapper_modal {
    height: 70vh;
    width: 50vh;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    background-color: white;
    font-family: sans-serif;
    box-shadow: 0px 0px 41px -10px #00000080;
    animation-name: openModalWindow;
    animation-duration: 0.5s;
    margin: 5vh 80vh;
}

.wrapper_close {
    height: 70vh;
    width: 50vh;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    display: none;
    background-color: white;
    font-family: sans-serif;
    box-shadow: 0px 0px 41px -10px rgba(0, 0, 0, 0.5);
    animation-name: closeModalWindow;
    top: -100%;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin: 5vh 80vh;
}

.input_normal {
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0 auto 15px ;
    width: 340px;
    height: 30px;
    border-color: #BFC1CC;
    padding-left: 8px;
    transition: border-width 0.1s;
    border-width: 1px; 
    font-size: 14px;    
}

.input_error {
    outline: none;
    border: 1px solid #ff0000;
    border-radius: 5px;
    margin: 0 auto 15px ;
    width: 340px;
    height: 30px;
    border-color: #ff0000;
    color: #ff0000;
    padding-left: 8px;
    transition: border-width 0.1s;
    border-width: 1px; 
    font-size: 14px;   
}

.wrapper_modal span {
    color: #3F61A0;
    font-size: 18px;

}

.wrapper_modal img {
    height : 200px;
    width : 200px;
    float: center;
}

.title span {
    font-size: 22px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    color: #1C277A;
}

.close_create_modal {
    float: right;
    cursor: pointer;
    margin: 0 5px 0 0;
}

.description {
    font-size: 12px;
    font-family: Arial Narrow, sans-serif;
    color: #A3A5AE;
    margin: 10px 0 15px ;
}

.warningP {
    background-color: red;
}

.next {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00245A;
    color:  white;
    padding: 8px;
    float: right;
    transition: 0.5s ease;
    position: absolute;
    top: 90%;
    left: 75%;
}

.success {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
}

.next:hover {
    transform: scale(1.1);
}

.input_error::placeholder {
    color: #ff0000;
}

/* list */

.topics_menu {
    display: flex;
    padding: 0;
}

.topics_menu li {
    position: relative;
    list-style: none;
    background-color: #577CC2;
    width: 20vh;
}

.topics_menu a {
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.topics_menu ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
}

.topics_menu a:hover {
    background: #184bab;
}

.topics_menu li:hover ul {
    display: block;
}

@keyframes openModalWindow {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes closeModalWindow {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}