
.task_content {
    height: 35vh;
    width: 97%;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px 0;
}

.header_task {
    width: 100%;
    height: 5vh;
    padding: 5% 0 0 0;
}

.wrapper_tema {
    display: inline-block;
    width: 40%;
    height: 80%;
    background-color: #FDEDD2;
    color: #F3B615;
    border-radius: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10% 5%;
}

.other_function {
    width: 100px;
    /* height: 5vh; */
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #D7D7D7;
    opacity: 0;
    animation: showModal 0.3s forwards;
    font-size: 90%;
    padding: 5px;
    margin: 0 0 0 10vh ;
}

.show {
    animation: showModal 0.3s forwards;
    width: 100px;
}

@keyframes showModal {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 10%;
        opacity: 1;
    }
}

@keyframes hideModal {
    from {
        width: 10%;
        opacity: 1;
    }
    to {
        width: 0;
        opacity: 0;
    }
}

.none {
    animation: hideModal 0.3s forwards;
}

.other_function hr {
    margin: 0;
}

.button_other {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}

.button_other:hover {
    color: #D7D7D7;
}

.tema {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task_content img {
    height: 50%;
    width: 18px;
    cursor: pointer;
    float: right;
    margin: 1% 3% 0 0;
}

.wrapper_name_task {
    margin: 5% 0 0 0;
}
.name_task {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin: 5% 0 0 5%;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    color: #000;
}

.name_task:hover {
    color: #B2B2B2;
}

.details_task {
    width: 70%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% 0 0 5%;
    color: #CCC;
}

.task_points {
    width: 100%;
    height: 5%;
    margin: 3% 0 0 0;
}

.task_points img{
    width: 5%;
    height: 140%;
    float: left;
    margin: 0 0 0 5%;
}

.already_points {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #CCC;
    margin: 0 0 0 1%;
    display: inline-block;
}

.footer_task {
    height: 20%;
    width: 100%;
    margin: 5% 0 0 0;
    border-top: 2px solid #E1E1E1;
}
.wrapper_wrapper_avatar {
    display: inline-block;
    width: 20%;
    height: 100%;
}

.wrapper_avatar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_avatar img{
    height: 30px;
    width: 30px;
}

.wrapper_icons_active {
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons_active {
    display: inline-block;
    width: 20%;
    margin: 0 2%;
}

.icons_active img {
    height: 20px;
    width: 20px;
    margin: 0 10%;
}